.review-card {
    font-size: 1.25rem;
    margin-top: 1rem;
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);

    padding: 1rem;
    display: flex;
    align-items: center;
    .user {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .comment {
        display: flex;
        flex-direction: column-reverse;
        margin-left: 1.5rem;
    }
}