@use './base.scss';

.main {
    font-size: 22px;
    height: 100%;
    color: white;
    position: relative;
    z-index: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    // align-items: center;
}


.content {
    z-index: 100;
    padding: 1rem;
    font-size: 18px;
    font-weight: 500;
}