.main {
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    .image {
        margin-right: 5rem;
    }
    div {
        margin-bottom: 3.5rem;
        h1 {
            padding: 1rem;
        }
    }
}