@use '../../../base.scss';


.reviews-header {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.dark {
    background-color: #333333 !important;
    h1 {
        color: #CCCCCC;
    }
}
@media (max-width: 768px) {
    .main {
        width: 100dvw;
        padding: 1rem;
        margin: 0;
    }
}