@use '../../../base.scss';


.reviews-header {
    margin-top: 1rem;
}


.dark {
    background-color: #333333 !important;
    h1 {
        color: #CCCCCC;
    }
}

@media (max-width: 480px) {
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }
}