@use '../../../base.scss';


.reviews-header {
    margin-top: 1rem;
}


@media (max-width: 425px) {
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }
}