.navbar {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: sticky; 
    top: 0;
    height: 7.5vh;
    background-color: #4caf50;
    h1 {
        font-weight: 500;
    }
}

.link {
    font-size: 20px;
    margin: 5rem;
    color:inherit;
    text-decoration: none;
}

.link:last-of-type {
    margin-left: auto;
}