.navbar {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: sticky; 
    top: 0;
    height: 7.5vh;
    background-color: #66bb6a;
}

.link {
    margin: 5rem;
    color:inherit;
    text-decoration: none;
}

.link:last-of-type {
    margin-left: auto;
}