.video-background {
    position: relative;
    width: 100%;
    height: 92.5vh;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        
      }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value to control darkness */
        z-index: -1;
    }
  }