@use '../../variables' as *;

  .navbar {
    outline: 1px solid white;
    width: 70%;
    white-space: nowrap;
    z-index: 100;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    // width: 100px;
    background-color: $background;
    h1 {
      font-size: 1rem;
      font-weight: 400;
    }
  }

 
  
  .image {
    margin-left: 0.8rem;
    margin-bottom: 0.125rem;
    width: 20px;
    height: 20px;
  }

  .icons-container {
    margin-left: auto !important;
    margin-right: 7.5rem;
    display: flex;
  }

  .selected {
    color: white !important;
    animation: selectedTabAnimation 0.3s ease;
    color: white !important;
    background-color: $main;
    &:after {
      background-color: inherit !important;
    }
  }

  .link {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: white !important;
    text-decoration: none;
    &:first-of-type {
      margin-left: 7.5rem;
    }
    &:nth-of-type(5){
      margin-left: auto;
    }
  }

  .menuButton {
    display: none;
  }

  .line {
    margin-left: auto;
    width: 0.25px;
    color: white;
    background-color: white;
    height: 4.5dvh;
  }

  @media (min-width: 800px) and (max-width: 1240px) {
    .navbar {
      
      padding-left: 2rem;
      padding-right: 2rem;
      .icons-container {
        margin-right: 0rem !important;
      }
      .link {
        margin-left: 0rem;
        margin-right: 0rem;
        &:nth-of-type(5) {
          margin-left: 0rem;
        }
      }
    }
  }

  .hidden {
    display: none;
  }

  @media (max-width: 800px) {

    .line {
      display: none;
    }



    .open {
        padding-left: 2rem; 
        height: auto; 
        flex-direction: column;
        align-items: flex-start !important;
        z-index: 10000;
        backdrop-filter: blur(4px);
        // background-color: $green;

          .link {
            left: 1rem;
            margin-left: 1rem !important;
            font-size: 18px;
            display: block !important; 
            width: 100%; 
            border-radius: 0; 
        } 

        .icons-container {
          // margin-left: 0.5rem !important;
          // width: 20%;
          margin-left: auto !important;
          padding: 0.125rem;
          margin-right: 0rem;
          margin-top: 0rem;
        }
  }

    .logout {
      margin-left: 1rem !important;
    }

    .menuButton {
      display: block;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
    .navbar {
      z-index: 999;
      align-items: center;
      padding-left: 0rem;
      .icons-container {
        margin-right: 0rem !important;
      }
      .link {
        margin: 0.25rem 0rem 0.25rem 0rem;
        padding: 0rem;
        &:not(:first-of-type) {
          display: none;
        }
      }
      .selected {
        animation: none !important;
        background-color: inherit;
        transform: none;
      }
    }
  }
