$green: #4caf50;
$lightgreen: #66bb69;

.navbar {
    white-space: nowrap;
    padding-left: 10rem;
    z-index: 100;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: sticky; 
    top: 0;
    height: 9.25dvh;
    background-color: $green;
    h1 {
        font-size: 22px;
        font-weight: 400;
    }
}

.image {
  margin-left: 0.8rem;
  margin-bottom: 0.125rem;
  width: 20px;
  height: 20px;
}

.icons-container {
  margin-left: auto;
  margin-top: 0.25rem;
  display: flex;
}

// @media (prefers-color-scheme: dark) {
//   .navbar {
//     color: white;
//     background-color: rgba(0, 0, 0, 0.6)!important;
//   }
// }

  
@keyframes selectedTabAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
      
    }
  }
 
.selected {
    color: white !important;
    animation: selectedTabAnimation 0.3s ease; 
    color: white !important;
    background-color: #66bb69;
    &:after {
        background-color: inherit !important;   
    }
    transform: translateY(-3px);
  }

.link {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 30px;
    color:inherit;
    text-decoration: none;
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 1.5px;
        background-color: black;
        transform: scaleX(0); 
        transform-origin: left;
        transition: transform 0.3s ease; 
    }
    &:hover{
        cursor: pointer;
        color: white;
        transition: transform 0.3s ease;
        transform: translateY(-3px);
    }
    &:nth-of-type(5) {
      // margin-right: 5rem;
      margin-left: 5rem;
 
  }
}


.highlight {
  z-index: -5;
  border-radius: 30px;
  background-color: white;
  position: absolute;
  bottom: 13px;
  height: 9.25dvh;
  background-color: $lightgreen;
  transition: left 0.3s, width 0.3s;
}

@media (max-width: 768px) {
  
}