@use '../base.scss';

.main {
    height: auto
}

.dark {
    background-color: #333333 !important;
    h1, p {
        color: #CCCCCC !important;
    }
}

@media (max-width: 768px) {
    .main {
        padding: 2rem;
        height: auto;
    }
}