.card {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    width: 75vw;
    .image {
        border-radius: 15px;
        margin: 1rem;
        height: 200px;
        width: 200px;
        }
    .description {
            align-self: flex-start;
            font-size: 18px;
            font-weight: 500;
            padding: 1rem;
            margin: 1rem;
        }
}