@use '../base.scss';



@media (max-width: 1200px) {
    .main {
        padding: 1rem;
        height: auto;
    }
}

.dark {
    background-color: #333333;
    h1, p {
        color: #CCCCCC;
    }
}