.card {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    width: 100%;
    .property {
        align-self: flex-start;
        padding: 0.75rem;
        &:not(h1) {
            font-size: 18px;
            font-weight: 500;
        }
    }
}

.dark {
    background-color: #495057;
}

.link {
    display: flex;
    align-items: center;
    border-radius: 15px;
    width: 100%;
    .image {
    border-radius: 15px;
    margin: 1rem;
    }
    div {
        width: 65%
        // max-height: 50%;
    }
    .property {
        align-self: flex-start;
        padding: 0.75rem;
        &:not(h1) {
            font-size: 18px;
            font-weight: 500;
        }
    }
}

@media (max-width: 480px) {
    .link {
        
        flex-direction: column;
        .image {
            width: 80%;     
        }
    }   
}