.footer {
    background-color: #4caf50;
    width: 100vw;
    height: 7.5dvh;
    position: relative;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 16px;
    font-weight: 400;
    &::before{
        position: absolute;
        display: inline-block;
        content: "";
        border-top: 1px solid white;
        width: 80dvw;
        transform: translateY(-1.25rem);
        @media (max-width: 800px) {
            transform: translateY(-1rem);
            width: 90dvw;
        }
    }
}



.dark {
    background-color: #2c2c2c!important;
    p {
        color:#CCCCCC
    }
    .icons {
        color: #CCCCCC;
    }
}

.icons {
    justify-content: space-between;
    display: flex;
    a {
        color: black;
        margin: 0.5rem;
    }
}


@media (max-width: 480px) {
    .footer {
    p {
        &:first-of-type {
            display: none;
        }
    }
    white-space: nowrap;
    font-size: 14px;
        .icons{
            a {
                height: 25px;
                width: 25px;
                margin: 0rem;
            }
           } 
    }
  
}