@use '../base.scss';

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 8rem;
    padding: 2rem;
    height: 83.25dvh;
}

.dark {
    background-color: #333333;
}